<nav class="fixed top-0 left-0 w-full z-50 navbar-glass">
  <div class="max-w-sm md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo -->
    <div class="text-2xl font-bold tracking-tighter text-[var(--text-main)] font-[Space Grotesk]">
      <a
          href="#home"
          >AmR<span class="text-accent">.</span>DEV</a
        >
      
    </div>

    <div class="flex items-center gap-4">
      <!-- Contacto (mobile icon) -->
      <a
        href="mailto:alexmyruiz@gmail.com"
        class="md:hidden text-accent hover:opacity-80 transition"
        aria-label="Enviar email"
      >
        <i class="fas fa-envelope text-xl"></i>
      </a>

      <!-- Botón hamburguesa -->
      <button
        class="md:hidden text-[var(--text-main)]"
        (click)="toggleMenu()"
        aria-label="Abrir menú"
      >
        <i class="fas fa-bars text-2xl"></i>
      </button>
    </div>

    <!-- Menú -->
    <ul class="nav-container" [class.open]="isMenuOpen">
      <li>
        <a
          href="#sobre-mi"
          class="nav-link"
          [class.active]="activeSection() === 'sobre-mi'"
          (click)="closeMenu()"
          >Sobre mí</a
        >
      </li>

      <li>
        <a
          href="#proyectos"
          class="nav-link"
          [class.active]="activeSection() === 'proyectos'"
          (click)="closeMenu()"
          >Proyectos</a
        >
      </li>

      <li>
        <a
          href="#curriculum"
          class="nav-link"
          [class.active]="activeSection() === 'curriculum'"
          (click)="closeMenu()"
          >Curriculum</a
        >
      </li>
      <li>
        <a
          href="mailto:alexmyruiz@gmail.com"
          title="Contacto directo por email"
          class="nav-contact px-5 py-2 hidden md:block"
        >
        <i class="fas fa-envelope text-xl"></i>
          Contactar
        </a>
      </li>
    </ul>
  </div>
</nav>
