<section class="relative min-h-screen flex items-center justify-center sm:py-14 lg:py-20" id="inicio">
  <div class="absolute inset-0 bg-grid-fineline z-0"></div>

<div class="relative z-10 max-w-7xl mx-auto px-4 
            grid grid-cols-1 md:grid-cols-2 
            gap-x-12 gap-y-12 items-center">

    <!-- Columna izquierda -->
<div class="order-2 md:order-1 space-y-8 text-center md:text-left mt-10 md:mt-0">
      <header class="space-y-4">
        <h1 class="flex flex-col font-extrabold tracking-tighter leading-[0.85] text-5xl md:text-6xl lg:text-8xl">
          <span class="uppercase opacity-80">Full Stack</span>
          <span class="text-accent uppercase">Developer</span>
        </h1>
      </header>

      <div class="flex flex-wrap justify-center md:justify-start gap-8 pt-4 items-center">
        @for (tech of techStack; track tech.name) {
        <div class="group relative flex flex-col items-center">
          <i
            [class]="tech.icon"
            aria-label="{{ tech.name }}"
            class="text-3xl md:text-4xl transition-all duration-300 cursor-help tech-icon"
          ></i>
          <span
            class="absolute -bottom-8 text-[10px] uppercase tracking-widest text-accent opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            {{ tech.name }}
          </span>
        </div>
        }
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="order-1 md:order-2 flex justify-center relative">
      <div class="absolute inset-0 bg-accent opacity-10 blur-[100px] rounded-full"></div>

      <div class="relative group">
        <div
          class="absolute -inset-1 rounded-full bg-gradient-to-tr from-accent to-accent opacity-30 group-hover:opacity-100 transition duration-700 blur-[2px]"
        ></div>

        <img
          src="assets/img/p1.png"
          alt="Perfil de Alejandro"
  class="relative  sm:translate-y-4 md:translate-y-8 w-48 h-48 sm:w-64 sm:h-64 md:w-80 md:h-80 lg:w-[420px] lg:h-[420px] rounded-full object-cover grayscale-[40%] group-hover:grayscale-0 transition-all duration-700 border-2 border-accent/20 shadow-2xl"        />
      </div>
    </div>

  </div>

  <!-- Scroll indicator -->
  <div
    class="absolute bottom-10 left-1/2 -translate-x-1/2 z-20 transition-all duration-500"
    [class.opacity-0]="isScrolled()"
    [class.pointer-events-none]="isScrolled()"
    [class.translate-y-10]="isScrolled()"
  >
    <i class="fas fa-angles-down scroll-chevron text-xl lg:text-2xl"></i>
  </div>
</section>
